@use '@angular/material' as mat;
@import "../shared/set-editor.theme.scss";
@include card-buttons;

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
    display: flex;
    flex: 1;
    margin: auto;
    padding: 16px 0;
}

.card {
    border: $border-default;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 520px;
    margin: auto;
    padding: 16px;
    width: 448px;

    p.mat-h2 {
        line-height: 30px;
        margin-bottom: 14px;
    }
}

.info-header {
    font-family: 'Open Sans';
    font-weight: 600 !important;
    margin-top: 6px;
}

.info-card {
    border: $border-default;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;
    padding: 16px;

    .mat-h3 {
        line-height: 22px;
        margin: 0;
        margin-left: 16px;
    }

    .row {
        align-items: center;
        display: flex;
    }
    
    .icon-container {
        background-color: mat.get-color-from-palette(mat.$blue-palette, 50);
        border-radius: 50%;
        height: 32px;
        width: 32px;
    }
    
    .icon-container mat-icon {
        color: mat.get-color-from-palette(mat.$blue-palette, 600);
        font-size: 24px;
        height: 24px;
        padding: 4px;
        width: 24px;
    }
}
