<ngx-dropzone
    class="file-drop"
    [disableClick]="true"
    [multiple]="false"
    (change)="openDroppedFile($event)">
    <app-header [isIntro]="true"></app-header>
    <div class="container">
        <div class="card">
            <ng-container *ngIf="!isFormOpen; else formTemplate">
                <h1 class="mat-h1">
                    Welcome to the Modern Set Editor!
                </h1>
                <p class="mat-h2">
                    Through this editor, you can add and adjust enemy layouts
                    for any level.
                </p>
                <p class="mat-h2">
                    Click "New File" to get started!
                </p>
                <p class="info-header mat-h2">
                    Note:
                </p>
                <div class="info-card">
                    <div *ngFor="let note of NOTES" class="note">
                        <div class="icon-container mat-primary">
                            <mat-icon>{{ note.icon }}</mat-icon>
                        </div>
                        <p class="mat-h3" tabindex="0">
                            {{ note.text }}
                        </p>
                    </div>
                </div>
                <div class="spacer"></div>
                <div class="button-container">
                    <button
                        mat-flat-button
                        color="accent"
                        (click)="openFile()">
                        <span class="mat-h2">Open File</span>
                    </button>
                    <button
                        mat-flat-button
                        color="primary"
                        (click)="toggleForm()">
                        <span class="mat-h2">New File</span>
                    </button>
                </div>
            </ng-container>
            <ng-template #formTemplate>
                <app-file-form
                    [setFile]="openedFile"
                    (cancelEvent)="toggleForm()">
                </app-file-form>
            </ng-template>
        </div>
    </div>
    <app-footer [isIntro]="true" [updateDetected]="updateDetected">
    </app-footer>
</ngx-dropzone>



<!--
 * Copyright 2023 Google LLC
 * 
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy
 * of the License at
 * 
 *  https://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations
 * under the License.
-->
