@import "../shared/set-editor.theme.scss";

:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.button-container {
    flex: 1;
    margin: 0;
}

.content {
    min-height: 300px;
}
