<h1 mat-dialog-title class="title">Are you sure?</h1>
<div mat-dialog-content class="description">
    <p>This will delete unsaved data.</p>
</div>
<div mat-dialog-actions class="button-container">
    <button
        mat-dialog-close
        mat-stroked-button>
        <span class="mat-h2">Cancel</span>
    </button>
    <button
        mat-flat-button
        class="continue-button"
        color="primary"
        [mat-dialog-close]="true">
        <span class="mat-h2">Continue</span>
    </button>
</div>
