@import "../shared/set-editor.theme.scss";

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 400px;
}

.fab-container {
    margin-top: 16px;
    text-align: center;
}

.objects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
    padding-top: 16px;
}

.spacer {
    flex: 1;
}
