@use '@angular/material' as mat;
@import "../shared/set-editor.theme.scss";

$collectible-color: mat.get-color-from-palette(mat.$green-palette, 400);
$enemy-color: mat.get-color-from-palette(mat.$blue-gray-palette, 400);
$interactable-color: mat.get-color-from-palette(mat.$blue-palette, 400);
$decoration-color: mat.get-color-from-palette(mat.$purple-palette, 300);
$trigger-color: mat.get-color-from-palette(mat.$orange-palette, 400);
$shrine-color: mat.get-color-from-palette(mat.$teal-palette, 400);

$form-field-width: 75px;

:host {
    flex: auto;
    margin: 4px;
    min-width: 285px;
    max-width: 285px;
    width: 285px;

    &:hover .delete-button {
        background-color: mat.get-color-from-palette(mat.$red-palette, A200);
        opacity: 1;
        visibility: visible;
    }

    ::ng-deep {

        // Material Form Field label overrides (to center text)
        .mdc-floating-label {
            margin-left: -4px;
            text-align: center !important;
            width: calc(3px + $form-field-width);
        }
    
        .mdc-floating-label--float-above {
            width: calc(1.38 * $form-field-width) !important;
        
            mat-label {
                font-size: 16px;
            }
        }
    
        mat-hint {
            font-size: 11px;
        }
    
        .one-variable {
            .mdc-floating-label {
                width: 257px;
            }
        
            .mdc-floating-label--float-above {
                width: 343px !important;
            }
    
            mat-hint {
                min-width: 100%;
                text-align: center;
            }
        }
    
        .two-variables {
            .mdc-floating-label {
                width: 123px;
            }
        
            .mdc-floating-label--float-above {
                width: 164px !important;
            }
        }

        // Reduce padding on form fields for higher density.
        .mdc-text-field {
            padding: 0 4px !important;
        }
    }
}

.delete-button {
    box-shadow: none !important;
    visibility: hidden;
    float: left;
    height: 34px;
    margin: -14px -40px 0 -14px;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
    width: 34px;
    z-index: 1;

    &:active {
        opacity: 1;
        visibility: visible;
    }

    mat-icon {
        color: white;
        font-size: 22px;
        height: 22px;
        padding: 6px;
        width: 22px;
    }
}

mat-expansion-panel {
    border-radius: 8px;
    box-shadow: none !important;
}

mat-expansion-panel-header {
    background-color: beige !important;
    font-weight: 500;
    max-height: 48px;
    transition: border-bottom-right-radius 400ms, border-bottom-left-radius 400ms;

    &.enemy {
        background-color: $enemy-color !important;
    }

    &.collectible {
        background-color: $collectible-color !important;
    }

    &.interactable {
        background-color: $interactable-color !important;
    }

    &.decoration {
        background-color: $decoration-color !important;
    }

    &.trigger {
        background-color: $trigger-color !important;
    }

    &.shrine {
        background-color: $shrine-color !important;
    }

    &.mat-expanded {
        background-color: $enemy-color;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        transition: border-bottom-right-radius 0ms, border-bottom-left-radius 0ms !important;
    }

    ::ng-deep.mat-content {
        display: block;
        font: bold 16px 'Open Sans';
        justify-content: center;
        margin-right: -8px;
        padding: 0 16px;
        text-overflow: ellipsis;
        width: 205px;
        white-space: nowrap;
    }
}

::ng-deep .mat-expansion-panel-body {
    background-color: lightgray;
    padding: 0 8px 8px !important;
}

.form {
    display: flex;
    flex-wrap: wrap;
    margin: 16px 0 -10px;

    mat-icon {
        margin-bottom: -2px;
    }
}

mat-form-field {
    flex: 1;
    margin: 4px 6px;
    min-width: $form-field-width !important;
}

::ng-deep .mdc-tooltip {
    background-color: white;
    border: $border-default;
    border-radius: 8px;
    padding: 8px;
}

.object-select {
    flex: 100%;
}

// Mat select override (make group labels bold)
::ng-deep .mat-mdc-optgroup-label {
    font-weight: bold;
}

mat-label {
    font-size: 14px;
    font-weight: 600;
    transition: font-size 0.5s;
}

input {
    text-align: center;
}
