<button mat-mini-fab class="delete-button" (click)="emitDelete()">
    <mat-icon color="warning">close</mat-icon>
</button>
<mat-expansion-panel
    *ngIf="object?.displayInfo as displayInfo"
    [expanded]="displayInfo.isExpanded">
    <mat-expansion-panel-header
        class="center"
        [ngClass]="displayInfo.categoryClass"
        [title]="object.type.length > 26 ? object.type : ''"
        (click)="togglePanel()">
        {{ object.type }}
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent >
        <div class="form">
            <mat-form-field 
                    appearance="fill"
                    class="object-select one-variable"
                    [floatLabel]="'always'">
                <mat-label>Object</mat-label>
                <mat-hint>Internal name: {{ displayInfo.internalName }}</mat-hint>
                <input
                    matInput
                    [matAutocomplete]="autoGroup"
                    [(ngModel)]="userInput"
                    (blur)="resetObject()"
                    (click)="sortAutocomplete()"
                    (ngModelChange)="filterOptions(); setObject()">
                <mat-autocomplete #autoGroup="matAutocomplete">
                    <mat-optgroup
                        *ngFor="let category of filteredObjectGroups | keyvalue: unsortedComparator"
                        [label]="category.key">
                    <mat-option
                        *ngFor="let object of category.value"
                        [value]="object">
                        {{ object }}
                    </mat-option>
                </mat-optgroup>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field
                appearance="fill"
                [floatLabel]="object.x ? 'always' : 'auto'">
                <mat-label>x</mat-label>
                <input matInput placeholder="0" [(ngModel)]="object.x">
            </mat-form-field>
            <mat-form-field
                appearance="fill"
                [floatLabel]="object.y ? 'always' : 'auto'"
                [matTooltip]="displayInfo.setLabel?.y ?? ''">
                <mat-label>
                    y
                    <mat-icon *ngIf="displayInfo.setLabel?.y">info</mat-icon>
                </mat-label>
                <input matInput placeholder="0" [(ngModel)]="object.y">
            </mat-form-field>
            <mat-form-field
                appearance="fill"
                [floatLabel]="object.y ? 'always' : 'auto'">
                <mat-label>z</mat-label>
                <input matInput placeholder="0" [(ngModel)]="object.z">
            </mat-form-field>
            <mat-form-field
                appearance="fill"
                [floatLabel]="object.xRot ? 'always' : 'auto'"
                [matTooltip]="displayInfo.setLabel?.xRot ?? ''">
                <mat-label>
                    <ng-container
                        *ngIf="displayInfo.setLabel?.xRot != undefined; else defaultXTemplate">
                        x Rot
                        <mat-icon>info</mat-icon>
                    </ng-container>
                    <ng-template #defaultXTemplate>
                        x Rotation
                    </ng-template>
                </mat-label>
                <input matInput placeholder="0°" [(ngModel)]="object.xRot">
                <mat-hint>(optional)</mat-hint>
            </mat-form-field>
            <mat-form-field
                appearance="fill"
                [floatLabel]="object.yRot ? 'always' : 'auto'"
                [matTooltip]="displayInfo.setLabel?.yRot ?? ''">
                <mat-label>
                    <ng-container
                        *ngIf="displayInfo.setLabel?.yRot != undefined; else defaultYTemplate">
                        y Rot
                        <mat-icon>info</mat-icon>
                    </ng-container>
                    <ng-template #defaultYTemplate>
                        y Rotation
                    </ng-template>
                </mat-label>
                <input matInput placeholder="0°" [(ngModel)]="object.yRot">
                <mat-hint>(optional)</mat-hint>
            </mat-form-field>
            <mat-form-field
                appearance="fill"
                [floatLabel]="object.zRot ? 'always' : 'auto'"
                [matTooltip]="displayInfo.setLabel?.zRot ?? ''">
                <mat-label>
                    <ng-container
                        *ngIf="displayInfo.setLabel?.zRot != undefined; else defaultZTemplate">
                        z Rot
                        <mat-icon>info</mat-icon>
                    </ng-container>
                    <ng-template #defaultZTemplate>
                        z Rotation
                    </ng-template>
                </mat-label>
                <mat-hint>(optional)</mat-hint>
                <input matInput placeholder="0°" [(ngModel)]="object.zRot">
            </mat-form-field>
            <mat-form-field
                *ngIf="displayInfo.setLabel?.var1 != undefined"
                appearance="fill"
                [floatLabel]="object.var1 ? 'always' : 'auto'"
                [matTooltip]="displayInfo.setLabel?.var1!"
                [class.one-variable]="displayInfo.customVariableCount === 1"
                [class.two-variable]="displayInfo.customVariableCount === 2">
                <mat-label>
                    Var 1
                    <mat-icon>info</mat-icon>
                </mat-label>
                <input matInput [(ngModel)]="object.var1">
            </mat-form-field>
            <mat-form-field
                *ngIf="displayInfo.setLabel?.var2 != undefined"
                appearance="fill"
                [floatLabel]="object.var2 ? 'always' : 'auto'"
                [matTooltip]="displayInfo.setLabel?.var2!"
                [class.one-variable]="displayInfo.customVariableCount === 1"
                [class.two-variable]="displayInfo.customVariableCount === 2">
                <mat-label>
                    Var 2
                    <mat-icon>info</mat-icon>
                </mat-label>
                <input matInput [(ngModel)]="object.var2">
            </mat-form-field>
            <mat-form-field
                *ngIf="displayInfo.setLabel?.var3 != undefined"
                appearance="fill"
                [floatLabel]="object.var3 ? 'always' : 'auto'"
                [matTooltip]="displayInfo.setLabel?.var3!"
                [class.one-variable]="displayInfo.customVariableCount === 1"
                [class.two-variable]="displayInfo.customVariableCount === 2">
                <mat-label>
                    Var 3
                    <mat-icon>info</mat-icon>
                </mat-label>
                <input matInput [(ngModel)]="object.var3">
            </mat-form-field>
        </div>
    </ng-template>
</mat-expansion-panel>
