<app-header
    [fileName]="fileName"
    [isIntro]="false"
    [numOfObjects]="numOfObjects"
    (add)="addObject()"
    (clear)="clearObjects()"
    (coordinates)="setCoordinateStyle($event)"
    (close)="closeFile()"
    (save)="saveFile()"
    (sort)="setSortingOption($event)">
</app-header>
<virtual-scroller
    *ngIf="!loading && (objectsEmitter | async) as objects; else loadingTemplate"
    [enableUnequalChildrenSizes]="true"
    [items]="objects"
    #scroll>
        <app-set-object
            *ngFor="let object of scroll.viewPortItems; trackBy: trackById"
            [coordinateStyle]="coordinateStyle"
            [levelObjectCategories]="levelObjectCategories"
            [object]="object"
            [stage]="stage"
            (delete)="deleteObject($event)">
        </app-set-object>
</virtual-scroller>
<ng-template #loadingTemplate>
    <div class="center">
        <mat-spinner></mat-spinner>
        <h1 class="mat-display-1 center">Loading...</h1>
    </div>
</ng-template>
<app-footer></app-footer>



<!--
 * Copyright 2023 Google LLC
 * 
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy
 * of the License at
 * 
 *  https://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations
 * under the License.
-->
