@use '@angular/material' as mat;
@import "../shared/set-editor.theme.scss";

:host {
    flex: auto;
    margin: 8px 12px;
    min-width: 225px;
    max-width: 15%;
    width: 15%;
}

:host:hover .delete-button {
    background-color: mat.get-color-from-palette(mat.$red-palette, A200);
    opacity: 1;
    visibility: visible;
}

::ng-deep mat-hint {
    font-size: 11px;
    font-weight: 500;
}

::ng-deep.mat-content {
    justify-content: center;
    margin-right: -8px;
}

::ng-deep .mat-expansion-panel-body {
    padding: 0 12px 12px !important;
}

/**
 * TODO: Fix labels to be centered through fixed widths
 * Display block
 * Unexpanded width: 200 whatever
 * Expanded width: 250 whatever
 */
::ng-deep .mdc-floating-label {
    /* color: black !important; */
    font-weight: bold;
    text-align: center !important;
}

mat-expansion-panel {
    border-radius: 8px;
}

mat-expansion-panel-header {
    background-color: beige !important;
    font-weight: 500;
    /* Uncomment for expand animation. */
    max-height: 48px;
    transition: border-bottom-right-radius 400ms, border-bottom-left-radius 400ms;
}

mat-expansion-panel-header.mat-expanded {
    background-color: beige !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: border-bottom-right-radius 0ms, border-bottom-left-radius 0ms !important;
}

mat-form-field {
    flex: 1;
    margin: 4px 6px;
    min-width: 85px !important;
}

mat-label {
    font-weight: 600;
    transition: font-size 0.5s;
}

mat-icon {
    color: white;
    font-size: 21px
}

.form {
    display: flex;
    flex-wrap: wrap;
    margin: 16px 0 -10px;
}

.object-select {
    flex: 100%;
}

.delete-button {
    box-shadow: none !important;
    visibility: hidden;
    float: left;
    height: 35px;
    margin: -15px -40px 0 -15px;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
    width: 35px;
    z-index: 1;
}

.delete-button:active {
    opacity: 1;
    visibility: visible;
}

input {
    font-weight: 500;
    text-align: center;
}
