@import "../shared/set-editor.theme.scss";

:host {
    flex: 1;
    margin: 14px;
    min-width: 225px;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: black !important;
    font-weight: bold;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: black !important;
} 

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: black !important;
}

.mat-form-field-should-float mat-label {
    font-size: 16px;
}

mat-label {
    font-weight: 600;
    transition: font-size 0.5s;
}

mat-expansion-panel {
    border-radius: 16px;
}

::ng-deep .mat-expansion-panel-body {
    padding: 0 12px 12px !important;
}

::ng-deep.mat-form-field-label {
    text-align: center;
}

::ng-deep.mat-form-field-hint-wrapper {
    display: block !important;
    text-align: center;
}

input.mat-input-element {
    text-align: center;
}

::ng-deep.mat-content {
    justify-content: center;
}

::ng-deep mat-hint {
    font-size: 11px;
    font-weight: 500;
}

::ng-deep.mat-form-field-subscript-wrapper {
    margin-top: 0.5em;
}

mat-form-field {
    flex: 1;
    margin: 5px 7.5px;
    min-width: 85px !important;
}

mat-expansion-panel-header {
    background-color: beige !important;
    /* Uncomment for expand animation. */
    max-height: 48px;
}

mat-expansion-panel-header.mat-expanded {
    background-color: beige !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form {
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0 -10px;
}
