@import "../shared/set-editor.theme.scss";

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.center {
    margin: auto;

    mat-spinner {
        height: 80px !important;
        margin: -20px auto 20px;
        width: 80px !important;
    }
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 400px;
}

.fab-container {
    margin-top: 16px;
    text-align: center;
}

.mdc-fab {
    box-shadow: none !important;
    margin: 10px;
}

virtual-scroller {
    height: 100%;
    text-align: center;

    ::ng-deep .scrollable-content {
        padding-top: 16px;
    }
}

app-set-object {
    display: inline-table;
}
