<button mat-mini-fab class="delete-button" (click)="handleDeleteClick()"><mat-icon>close</mat-icon></button>
<mat-expansion-panel>
    <mat-expansion-panel-header class="center">
        {{ object.object }}
    </mat-expansion-panel-header>
    <div class="form">
        <mat-form-field appearance="fill" class="object-select">
            <mat-label>Object</mat-label>
            <input
                matInput
                [matAutocomplete]="autoGroup"
                [(ngModel)]="object.object">
            <mat-autocomplete #autoGroup="matAutocomplete">
                <mat-optgroup *ngFor="let objectGroup of levelObjects" [label]="objectGroup.name">
                  <mat-option *ngFor="let object of objectGroup.objects.sort()" [value]="object">
                    {{ object }}
                  </mat-option>
              </mat-optgroup>
            </mat-autocomplete>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>x</mat-label>
            <input matInput [(ngModel)]="object.x">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>y</mat-label>
            <input matInput [(ngModel)]="object.y">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>z</mat-label>
            <input matInput [(ngModel)]="object.z">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>x Rotation</mat-label>
            <input matInput [(ngModel)]="object.xRot">
            <mat-hint>(optional)</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>y Rotation</mat-label>
            <input matInput [(ngModel)]="object.yRot">
            <mat-hint>(optional)</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>z Rotation</mat-label>
            <mat-hint>(optional)</mat-hint>
            <input matInput [(ngModel)]="object.zRot">
        </mat-form-field>
        <mat-form-field *ngIf="object.var1 !== undefined" appearance="fill">
            <mat-label>Var 1</mat-label>
            <input matInput [(ngModel)]="object.var1">
        </mat-form-field>
        <mat-form-field *ngIf="object.var2 !== undefined" appearance="fill">
            <mat-label>Var 2</mat-label>
            <input matInput [(ngModel)]="object.var2">
        </mat-form-field>
        <mat-form-field *ngIf="object.var3 !== undefined" appearance="fill">
            <mat-label>Var 3</mat-label>
            <input matInput [(ngModel)]="object.var3">
        </mat-form-field>
    </div>
</mat-expansion-panel>
