<app-header [isIntro]="false" [fileName]="'test'" [numObjects]="0"></app-header>
<div class="content">
    <div class="button-container">
        <button class="save mdc-fab mdc-fab--extended">
            <div class="mdc-fab__ripple"></div>
            <span class="material-icons mdc-fab__icon">save</span>
            <span class="mdc-fab__label">Save</span>
        </button>
        <button class="add mdc-fab mdc-fab--extended">
            <div class="mdc-fab__ripple"></div>
            <span class="material-icons mdc-fab__icon">add</span>
            <span class="mdc-fab__label">Add</span>
        </button>
    </div>
    <ng-container *ngIf="objectsEmitter | async as objects else loading">
        <app-set-object *ngFor="let object of objects"></app-set-object>
    </ng-container>
    <ng-template #loading>
        <h1 class="mat-display-1 center">Loading...</h1>
    </ng-template>
</div>
<app-footer></app-footer>
