.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 400px;
}

.button-container {
    display: flex;
    flex: initial;
    flex-wrap: wrap;
    justify-content: center;
}

.mdc-fab {
    align-self: center;
    flex: initial;
    margin: 10px;
}

.center {
    text-align: center !important;
}
