$border-default: solid 2px #212121;

.card {
    border: $border-default;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 532px;
    margin: auto;
    padding: 16px;
    width: 448px;
}

.button-container {
    align-items: right;
    text-align: right;

    .mat-h2 {
        font-family: "Roboto";
        font-size: 18px;
    }
}

.button-container button:first-child {
    margin-right: 16px;
}

.mdc-fab {
    align-self: center;
    flex: initial;
    margin: 10px;
}

.center {
    text-align: center !important;
}

.spacer {
    flex: 1;
}

.bold {
    font-family: 'Open Sans';
    font-weight: 600 !important;
}

.semi-bold {
    font-family: 'Open Sans';
    font-weight: 500 !important;
}
