@import "../set-editor.theme.scss";

:host {
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

label {
    display: block;
}

mat-radio-group {
    display: flex;
    flex-direction: column;
}

mat-radio-button {
    flex: 1;
    margin-bottom: 10px;
}

::ng-deep mat-radio-button label {
    margin: 0;
}

button {
    border-radius: 8px;
    height: 40px !important;
    width: 120px;
}

.spacer-2 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;
    min-height: 40px;
}

.warnings {
    color: red;
    margin-bottom: 16px;
    text-align: center;
}

.section-container {
    display: flex;
}

.select-section {
    flex: 1;
}

.radio-section {
    flex: 1;
}
