@import "../set-editor.theme.scss";

:host {
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/*
TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version.*/
/*
TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version.*/
mat-radio-group {
    display: flex;
    flex-direction: column;
}

/*
TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version.*/
/*
TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version.*/
mat-radio-button {
    flex: 1;
    margin-bottom: 10px;
}
/*
label {
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}

label#format-radio-label {
    margin-top: 15px;
}*/

button {
    border-radius: 8px;
    height: 40px !important;
    width: 120px;
}

.spacer-2 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;
    min-height: 40px;
}

.warnings {
    color: red;
}

.section-container {
    display: flex;
}

.select-section {
    flex: 1;
}

.radio-section {
    flex: 1;
}
