<form [formGroup]="form">
    <h1 *ngIf="!setFile; else openFileTemplate" class="mat-h1">
        Create File
    </h1>
    <ng-template #openFileTemplate>
        <h1 class="mat-h1">Confirm File</h1>
    </ng-template>
    <mat-form-field class="mat-h3" appearance="fill">
        <mat-label>File Name (optional)</mat-label>
        <input matInput formControlName="fileName">
    </mat-form-field>
    <div class="section-container">
        <div class="radio-section">
            <label class="mat-h2" id="version-radio-label">Game Version</label>
            <mat-radio-group
                aria-labelledby="version-radio-label"
                color="primary"
                formControlName="isSA2Format">
                <mat-radio-button [value]="false">
                    <span class="mat-h3">Sonic Adventure 1</span>
                </mat-radio-button>
                <mat-radio-button [value]="true">
                    <span class="mat-h3">Sonic Adventure 2</span>
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="select-section">
            <mat-form-field appearance="fill">
                <mat-label>Stage</mat-label>
                <mat-select formControlName="stage">
                    <!-- TODO: define 'stages' getter to automatically get sa1 vs sa2 to avoid IF statement-->
                    <ng-container *ngIf="isSA2Format?.value; else sa1Template">
                        <mat-option *ngFor="let stage of sa2Stages" [value]="stage.id">
                            {{ stage.name }}
                        </mat-option>
                    </ng-container>
                    <ng-template #sa1Template>
                        <mat-option *ngFor="let stage of sa1Stages" [value]="stage.id">
                            {{ stage.name }}
                        </mat-option>
                    </ng-template>
                </mat-select>
            </mat-form-field>
            <div class="hideable-inputs" [class.hidden]="!isSA2Format?.value">
                <mat-form-field appearance="fill">
                    <mat-label>SET File Format</mat-label>
                    <mat-select formControlName="fileType">
                        <mat-option *ngFor="let format of sa2Formats" [value]="format">
                            {{ format }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Mode</mat-label>
                    <mat-select formControlName="mode">
                        <mat-option *ngFor="let mode of modes" [value]="mode">
                            {{ mode }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="spacer"></div>
    <div class="warnings mat-h3">
        <div *ngIf="fileName && fileName.invalid &&
            fileName.dirty"
            class="alert alert-danger center">
            <div *ngIf="fileName.errors?.['required']">
                File Name is required.
            </div>
        </div>
        <div *ngIf="isSA2Format && isSA2Format.invalid &&
            (isSA2Format.dirty || isSA2Format.touched)"
            class="alert alert-danger center">
            <div *ngIf="isSA2Format.errors?.['required']">
                Game Version is required.
            </div>
        </div>
        <div *ngIf="fileType && fileType.invalid &&
            (fileType.dirty || fileType.touched)"
            class="alert alert-danger">
            <div *ngIf="fileType.errors?.['required']">
                SET File Format is required.
            </div>
        </div>
    </div>
    <div class="button-container">
        <button
            mat-stroked-button
            (click)="cancel()">
            <span class="mat-h2">Cancel</span>
        </button>
        <button
            mat-flat-button
            color="primary"
            type="submit"
            [disabled]="!form.valid"
            [queryParams]="queryParams"
            [routerLink]="'editor'">
            <span *ngIf="!setFile; else openFileButtonTemplate" class="mat-h2">
                Create File
            </span>
            <ng-template #openFileButtonTemplate>
                <span class="mat-h2">Open File</span>
            </ng-template>
        </button>
    </div>
</form>

<!-- For add dialog: https://material.angular.io/components/autocomplete/examples -->