@import "../set-editor.theme.scss";

:host {
    border-top: $border-default;
    display: flex;
    text-align: center;

    p {
        margin: 0 !important;
        padding: 20px 0;
    }
}

.help {
    flex: 2;
}

.version {
    flex: 1;
    margin: 0;
    text-align: right;

    p {
        padding-right: 16px;
    }
}
