@import "../set-editor.theme.scss";

:host {
    border-bottom: $border-default;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 20px;
}

div {
    display: flex;
    flex: 1;
}

.mat-display-1 {
    align-self: center;
    flex: 1;
    margin: 0;
    text-align: right;
}

.mat-display-2 {
    flex: 1;
    margin: 0;
}

.mat-headline {
    align-self: center;
    margin: 0;
}

.fab-container {
    display: flex;
    flex: 1;
    gap: 12px;
    justify-content: center;
    text-align: center;

    button {
        margin: 0;
    }
}

.chip-container {
    align-items: center;
    justify-content: end;

    h2 {
        margin: 0 16px;
    }
}
