<ng-container *ngIf="isIntro; else editorHeader">
    <h1 class="center mat-display-2">Set Editor</h1>
</ng-container>
<ng-template #editorHeader>
    <div>
        <h1 class="mat-display-2">Set Editor</h1>
        <h1 class="file-name mat-headline center" tabindex="0">
            {{ fileName }}
        </h1>
        <h1 class="objects mat-display-1" tabindex="0">
            <button
                mat-mini-fab
                color="primary"
                aria-label="Clear objects"
                (click)="emitClear()">
                <mat-icon>delete</mat-icon>
            </button>
            {{ numOfObjects }} Objects
        </h1>
    </div>
    <div class="control-center">
        <div class="toggle-container">
            <h2 class="mat-heading-2">Coordinates Style</h2>
            <mat-button-toggle-group
                value="game"
                (change)="emitCoordinateStyle($event)">
                <mat-button-toggle value="game">
                    Game Coordinates
                </mat-button-toggle>
                <mat-button-toggle value="blender">
                    Blender Coordinates
                </mat-button-toggle>
              </mat-button-toggle-group>
        </div>
        <div class="fab-container">
            <button
                class="save mdc-fab mdc-fab--extended"
                (click)="emitSave()">
                <div class="mdc-fab__ripple"></div>
                <span class="material-icons mdc-fab__icon">save</span>
                <span class="mdc-fab__label">Save</span>
            </button>
            <button
                class="save mdc-fab mdc-fab--extended"
                (click)="emitClose()">
                <div class="mdc-fab__ripple"></div>
                <span class="material-icons mdc-fab__icon">close</span>
                <span class="mdc-fab__label">Close</span>
            </button>
            <button
                class="add mdc-fab mdc-fab--extended"
                (click)="emitAdd()">
                <div class="mdc-fab__ripple"></div>
                <span class="material-icons mdc-fab__icon">add</span>
                <span class="mdc-fab__label">Add</span>
            </button>
            <button
                class="add mdc-fab mdc-fab--extended"
                (click)="emitClear()">
                <div class="mdc-fab__ripple"></div>
                <span class="material-icons mdc-fab__icon">delete</span>
                <span class="mdc-fab__label">Clear</span>
            </button>
        </div>
        <div class="chip-container">
            <h2 class="mat-heading-2">Sort By</h2>
            <mat-chip-listbox (change)="emitSort($event)">
                <mat-chip-option
                    *ngFor="let sortingOption of SORTING_OPTIONS; let i = index"
                    [color]="sortingOption.color"
                    [selected]="i === 0"
                    [value]="sortingOption">
                    {{ sortingOption.name }}
                </mat-chip-option>
            </mat-chip-listbox>
        </div>
    </div>
</ng-template>



<!--
 * Copyright 2023 Google LLC
 * 
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy
 * of the License at
 * 
 *  https://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations
 * under the License.
-->
