@import "../set-editor.theme.scss";

:host {
    border-bottom: $border-default;
    display: flex;
    flex: initial;
    justify-content: space-between;
    padding: 15px 20px;
}

.mat-display-1 {
    align-self: center;
    flex: 1;
    margin: 0;
    text-align: right;
}

.mat-display-2 {
    flex: 1;
    margin: 0;
}

.mat-headline {
    align-self: center;
    margin: 0;
}
