// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
@use "@material/fab";

@include fab.core-styles;
@include mat.core();

@import "@fontsource/open-sans/400.css";
@import "@fontsource/open-sans/500.css";
@import "@fontsource/open-sans/600.css";
@import "@fontsource/roboto";
@import '@material-design-icons/font';
$material-design-icons-font-path: '~@material-design-icons/font/';

$primary: mat.define-palette(mat.$blue-palette, A400);
$accent: mat.define-palette(mat.$green-palette, A400);
$warn: mat.define-palette(mat.$red-palette);

$theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  ),
  typography: mat.define-typography-config(),
));

/** Material component theme imports. */
@include mat.core-theme($theme);
@include mat.button-theme($theme);
@include mat.input-theme($theme);
@include mat.radio-theme($theme);
@include mat.select-theme($theme);
@include mat.form-field-theme($theme);
@include mat.fab-theme($theme);
@include mat.expansion-theme($theme);
@include mat.autocomplete-theme($theme);

/**
 * Material component typography import.
 * TODO: figure out how to do this properly.
*/
@include mat.all-legacy-component-typographies();

/* You can add global styles to this file, and also import other style files */
html, body { 
  color: #212121;
  height: 100vh;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

/** Material typography adjustments. */
.mat-headline, .mat-h1, .mat-subheading-1, .mat-display-1, .mat-display-2 {
  font-family: "Open Sans" !important;
  font-weight: 600 !important;
}
